.output {
	height: 30em;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 0px;
}

.output p:nth-child(odd) {
	background-color: rgba(200,200,200,0.5) !important;
}

.output p {
	margin: 0px;
	padding: 5px;
	width: 100%;
}